body {
    background-color: blanchedalmond;
    text-align: center;
}

table{
	margin-right: auto;
	margin-left: auto;
	table-layout: fixed;
	width: 70%;
  }
  
  #tb1 {
	border: 1px dotted black;
	border-collapse: collapse;
	background-color:blanchedalmond;
  }
  
  th, td {
	border: 1px solid black;
	border-radius: 3px;
  }